/*--------------------------------------------------------------
 * ## CPM PLUGIN NOTIFICATION-BOX
 *--------------------------------------------------------------
 */

.success-box,
.error-box,
.info-box,
.warning-box {
    border-radius: 2px;
    font-size: 16px;
    margin: 10px 0;
    padding: 15px 15px 15px 45px;
    position: relative;
}

.success-box:before,
.error-box:before,
.info-box:before,
.warning-box:before {
    display: inline-block;
    font-family: "dashicons";
    font-size: 18px;
    line-height: normal;
    left: 15px;
    position: absolute;
    top: 17px;
    vertical-align: top;
}

.success-box {
    background-color: #dff2bf;
    color: #4f8a10;
}

.success-box:before {
    content: "\f12a";
}

.error-box {
    background-color: #ffbaba;
    color: #d8000c;
}

.error-box:before {
    content: "\f153";
}

.info-box {
    background-color: #d9edf7;
    color: #31708f;
}

.info-box:before {
    content: "\f348";
}

.warning-box {
    background-color: #feefb3;
    color: #9f6000;
}

.warning-box:before {
    content: "\f534";
}

.export_variation_product_hide {
    display: none;
}